<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yang719.SpringWeb.mapper.UseruploadpicMapper">
  <resultMap id="BaseResultMap" type="cn.yang719.SpringWeb.entity.Useruploadpic">
    <!--@mbg.generated-->
    <!--@Table useruploadpic-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <association column="pid" property="picture" javaType="cn.yang719.SpringWeb.entity.Picture">
      <id column="pid" jdbcType="INTEGER" property="id" />
      <result column="picUrl" jdbcType="VARCHAR" property="picurl" />
      <result column="fileSize" jdbcType="VARCHAR" property="filesize" />
      <result column="picHeight" jdbcType="INTEGER" property="picheight" />
      <result column="picWidth" jdbcType="INTEGER" property="picwidth" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, pid, `time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from useruploadpic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from useruploadpic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.yang719.SpringWeb.entity.Useruploadpic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into useruploadpic (`uid`, pid, `time`
      )
    values (#{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="select" resultMap="BaseResultMap">
    select
        *
    from
        useruploadpic
    where
        <set>
            <if test="id != null">
                id = #{id,javaType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,javaType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,javaType=INTEGER},
            </if>
            <if test="time != null">
                TO_DAYS(time) = TO_DAYS(#{time,javaType=TIMESTAMP}),
            </if>
            <if test="picture != null">
                picture = #{picture,},
            </if>
        </set>
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.yang719.SpringWeb.entity.Useruploadpic" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into useruploadpic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="time != null">
        `time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yang719.SpringWeb.entity.Useruploadpic">
    <!--@mbg.generated-->
    update useruploadpic
    <set>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yang719.SpringWeb.entity.Useruploadpic">
    <!--@mbg.generated-->
    update useruploadpic
    set `uid` = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectWithPicInfoByUserId" resultMap="BaseResultMap">
    select
        u.id,u.uid,u.time,
        p.id pid,p.picUrl,p.fileSize,p.picHeight,p.picWidth
    from
        useruploadpic u
    left join
        picture p
    on
        p.id = u.pid
    where
        u.uid = #{id,jdbcType=INTEGER}
  </select>
</mapper>